.nav-item:hover {
    
    box-shadow: 4px 4px 4px rgb(156, 168, 168)
}

.container-fluid {
    background-color:rgba(64, 66, 68, 0.699);
}
.menu {

    background-image: url("../imagens/beach-1751455.jpg");
    background-position: center center;
}
